* {
    margin: 0;
    padding: 0;
}
body,
html {
    background-color: antiquewhite;
}
label.logo {
    font-size: 60px;
    color: rgb(0, 0, 0);
    margin: 0 100px;
    line-height: 80px;
}
label.logo:hover {

    color: green;
}
nav ul {
    float: right;
    list-style-type: none;
    margin-right: 10%;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 8px 20px;
    font-weight: 20px;
}
ul li a:hover {
    background-color: transparent;
    border: 1px solid rgb(80, 0, 0);
    cursor: pointer;
    color: green;
}
.container {
    display: inline-flex;
    width: 100%;
    height: 100vh;
    line-height: 80px;
    align-items: center;
    justify-content: center;
}

.left {
    background-color: none;
    height: 100vh;
    line-height: 80px;
    width: 100%;
    display: inline-block;
    font-size: 45px;
}
h1 {
    text-align: center;
    margin-top: 25%;
    color: rgb(172, 1, 1);
}
h1:hover {
    color: red;
}

p {
    text-align: center;
    color: rgb(123, 51, 0);
}
.more {
    font-family: monospace;
    background-color: transparent;
    height: 4rem;
    display: flex;
    margin-left: 35%;
    width: 20rem;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
    color: black;
    border: .1px solid black;
}
.more:hover {
    background-color: transparent;
    border: 1px solid brown;
    color: red;
}
.right {
    background-color: none;
    height: 100vh;
    line-height: 80px;
    width: 100%;
    display: flex;
}

.right img {
    width: 40%;
    height: 50vh;
    display: flex;
    margin-left: 30%;
    margin-top: 18%;
}
@media(max-width:340px) {
    lable.logo {
        font-size: 26px;
        margin-right: 0 50px;
    }
}

@media(max-width:750px) {
    nav ul {
        display: none;
    }

    #checkbtn {
        display: block;
    }

    nav ul {
        display: block;
        background-color: transparent;
        left: -100%;
        width: 100%;
        height: 100vh;
        top: 80px;
        position: fixed;
        transition: .5s;
        border: 1px rgb(105, 0, 0);
    }

    nav ul li {
        display: block;
        text-align: center;
        line-height: 60px;
        margin-top: 10px;
    }
}